 
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
  }
  
  .treino{
    float: none;
    
  }

  
  input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  